@use "../../styles/mixins" as *;
@use "../../styles/global";
@use "../../styles/variables" as *;

.events {
    background-color: black;
    color: white;

    &__search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
    }

    &__search-header {
        font-size: 2rem;

        @include tablet {
            font-size: 3.2rem;
        }
    }    

    &__label {
        margin-bottom: 1rem;
    }

    &__input {
        height: 4rem;
        width: 80%;
        border-radius: .4rem;
        padding-left: 2rem;
        border: solid 1px gray;

        @include tablet {
            width: 50%;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
    }

}