@use "../../styles/mixins" as *;
@use "../../styles/global";
@use "../../styles/variables" as *;

.profile {
    padding: 1rem;
    background-color: black;

    &__container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            display: flex;
            flex-direction: row; 
        }
        
    }

    &__info {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 1.6rem;
            width: 80%;
        }

    }

    &__user-img {
        object-fit: contain;
        width: 100%;

        @include tablet{
            width: 35%;
        }
    }

    &__avatar {
        width: 100%;
        border-radius: 5%;
    }

    &__user-info {
        width: 100%;
        color: white;

        @include tablet {
            width: 40%;
            margin-left: 2rem; 
        }
        
    }

    &__name {
        margin-top: 0;

        @include tablet {
            font-size: 2.8rem;
        }
    }

    &__location {
        font-size: 1.6rem;

        @include tablet {
            font-size: 2.4rem
        }
    }

    &__description {
        line-height: 2rem;
    }

    &__friends-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include tablet {
            width: 20%;
            border-left: solid 2px white;
            padding-left: 2rem;
        }
    }

    &__friends-title {
        color: white;
        margin-bottom: 1rem;
        margin-top: 0;
        font-size: 2.4rem;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &__friends {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        margin-bottom: 1rem;
        
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__friends-avatar {
        background-color: black;
        margin-right: 2rem; 
    }

    &__friend-image {
        object-fit: cover;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

    &__friends-name {
        color: white;
        margin-top: 1rem;

        &:hover {
            color: blue;
            cursor: pointer;
        }
    }

    &__events {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        margin-right: 0;

        @include tablet {
            width: 100%;
            flex-direction: row;
        }
    }

    &__card {
        width: 90%;

        @include tablet {
            width: 10%;
        }
    }

    &__upcoming-container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    &__back-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}