@use "../../styles/mixins" as *;
@use "../../styles/global";
@use "../../styles/variables" as *;

.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    

    @include tablet {
        flex-direction: row;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        color: white;
        font-family: Rock Salt;
        font-size: 4rem;
        margin-bottom: 1rem;
        margin-top: 3rem;

        @include tablet {
            margin-top: 0rem;
            margin-bottom: 0;
            font-size: 3.1rem;
        }

        &:hover {
            color: blue;
        }
    }

    &__searchbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 70%;
        }
    }

    &__search-container {
        object-fit: contain;
        height: 10%;
        order: 1;
        width: 100%;

        @include tablet {
            order: 0;
            width: 65%;
        }
    }

    &__banner {
        width: 100%;

        @include tablet {
            margin-right: 5rem;
        }

        @include desktop {
            margin-right: 2rem;
        }
    }

    &__user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 0;
        width: 100%;

        @include tablet {
            width: 28%;
            justify-content: flex-end;
        }
    }

    &__username {
        color: white;
        font-size: 2.2rem;

        &:hover {
            color: blue;
        }
    }

    &__img {
        object-fit: cover;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}